body {
  font-family: 'Roboto', 'Sans Serif', serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

header {
  background-color: #ebcca2;
  padding: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-weight: 300;
}

header > h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #FFFFFF;
}

@mixin button {
  padding: 10px 20px;
  background: #ebcca2;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: #edd8b7;
  }

  &:disabled {
    background: #cccccc;
  }
}

.chessboard {
  text-align: center;
  position: relative;
}

#chessboard-canvas {
  background: url(../asset/chessboard.jpg);
  border: 4px solid #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 525px;
  height: 525px;
  display: block;
  margin: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  text-align: center;

  &.active {
    display: block;
  }

  &__info {
    font-size: 2rem;
    margin: 20px;
    text-align: left;
  }

  &__button {
    @include button;
    margin: 20px;
  }
}

#regret {
  @include button;
  position: absolute;
  bottom: 20px;
  left: calc(50% + 301px);
}
