<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>五子棋</title>
</head>
<body>
<header>
  <h1>五子棋</h1>
</header>
<main class="chessboard">
  <canvas id="chessboard-canvas"></canvas>
  <div class="timebox black">
    <div class="timebox__name">黑棋</div>
    <input class="timebox__time" readonly value="00 : 00 : 00" id="black-timer"/>
  </div>
  <div class="timebox white">
    <div class="timebox__name">白棋</div>
    <input class="timebox__time" readonly value="00 : 00 : 00" id="white-timer"/>
  </div>
  <button id="regret" disabled>悔棋</button>
  <button id="cancel-regret" disabled>撤销悔棋</button>
  <div class="modal active">
    <div class="modal__info">选择游戏模式：</div>
    <button class="modal__button play-modal-button" id="single-player">人机模式</button>
    <button class="modal__button play-modal-button" id="multi-player">对战模式</button>
  </div>
</main>
</body>
</html>
