<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>hello world</title>
</head>
<body>
<header>
  <h1>五子棋</h1>
</header>
<main class="chessboard">
  <canvas id="chessboard-canvas"></canvas>
</main>
</body>
</html>
